<div class="start">
  <img src="/assets/Gaienofen-Campus.jpg">
  <div class="heading">
    <h2>Schlossherold</h2>
  </div>
</div>
<div class="background">
<div class="container container-xl">

  <div class="filter" (click)="filterView = !filterView">
    <p>Filter</p>
    <img src="/assets/filter.png">
    <br>
  </div>
  <div class="dropdown-filter" [hidden]="!filterView">
  <div class="filter-details" *ngFor="let edition of editionList" >
    <div (click)="filter(edition.id)">
     <p class="filter-options" id="{{edition.id}}">{{edition.fields.Month | date: 'MMMM yyyy'}}</p>
    </div>

  </div>
  <button class="button" (click)="articleList = globalArticleList; filterView = false; resetFilterColor()">Reset</button>
  </div>

  <div class="article-list">
    <div class="box" *ngFor="let article of articleList" [routerLink]="'/' + article.id">
      <app-edition *ngIf="article.fields.Edition" editionID="{{article.fields.Edition}}"></app-edition>
      <img *ngIf="article.fields.Teaser_Image" src="{{article.fields.Teaser_Image[0].url}}"/>
      <h2 class="article-title">{{ article.fields.Title }}</h2>
      <small>
        <span *ngIf="article.fields.Publishing_Date"><em>{{ article.fields.Publishing_Date | date: 'd. MMMM YYYY' }},</em></span>
        <app-author *ngIf="article.fields.Author" authorID="{{article.fields.Author[0]}}"></app-author>
      </small>
      <p *ngIf="article.fields.Teaser_Text">{{ article.fields.Teaser_Text }}</p>
    </div>
  </div>
</div>
