.article-list {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(2, minmax(100px, 100%));
}

@media screen and (max-width: 768px) {
  .article-list {
    grid-template-columns: 100%;
  }
}

.article-list .box {
  min-width: 300px;
  cursor: pointer;
}
