.start {
  position:fixed;
  z-index: -1;
  width: 100%;

  img {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  h2 {
    color: white;
    padding: 20px 10px 20px 10px;
    background-color: #003e6a79 ;
    font-size: 5ch;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  }

}

.full-filter{
  display: flex;
  justify-content: flex-end;
}

.dropdown-filter {
  z-index: 2;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 20px 20px 20px;
  margin-top: 39px;
  border: 2px var(--theme-primary) solid;
  border-top: 0px;

  p{
    border-bottom: 1.5px black solid;
  }

  button{
    margin-top: 10px;
    width: 8rem;
  }

}

.filter{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;

  p {
    margin: 0;
    font-size: 1.75rem;
    --font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  }

  img {
    margin: 0;
    width: 4%;
    padding-left: 20px;
  }

}

@media screen and (max-width: 700px) {
  .filter img{
    width: 35px;
  }
}

.filter-details {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.filter-options{
  font-size: 1em;
  margin-bottom: 1vh;
}

[hidden] {
  display: none;
}

.background{
  margin-top: 300px;
  background-color: white;
}

.article-list {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(2, minmax(100px, 100%));

  .box {
    min-width: 300px;
    cursor: pointer;

    .article-title {
      margin: 0.25rem 0 0.25rem 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .article-list {
    grid-template-columns: 100%;
  }
}
