<div class="container container-xl">
  <div class="filter" (click)="filterView = !filterView">
    <p>Filter</p>
    <img src="/assets/filter.png">
    <br>
  </div>
  <div class="dropdown-filter" [hidden]="!filterView">
  <div class="filter-details" *ngFor="let filterOptionen of filterOptionenList; let i = index" >
    <div (click)="filter(filterOptionen)">
     <p class="filter-options" id="{{filterOptionen}}">{{filterOptionen}}</p>
    </div>
  </div>
    <button class="button" (click)="calendarList = globalCalendarList; filterView = false; resetFilterColor()">Reset</button>
  </div>
  <div class="event-list">
    <div class="box" *ngFor="let calendar of calendarList" [routerLink]="'/events/' + calendar.id">
      <h3 class="title" [class.heading]="calendar.fields.Important" >{{ calendar.fields.Title }}</h3>
      <small>
        <i>
          <span>{{ calendar.fields.Date_Start | date : 'd.MM H:mm'}}</span>
          <span *ngIf="calendar.fields.Date_End"> - {{ calendar.fields.Date_End | date : 'd.MM.yyy H:mm'}}</span><br>
          <span class="location" *ngIf="calendar.fields.Location">Ort: {{ calendar.fields.Location }}</span>
        </i>
      </small>
      <ul class="intrest-group">
        <li *ngFor="let group of calendar.fields.Interest_Group">{{ group }}</li>
      </ul>
    </div>
  </div>
</div>
