<div class="container container-xl">
  <div class="event-list">
    <div class="box">
      <h2>Titel</h2>
      <p>Datum und Uhrzeit</p>
      <p>Ort</p>
    </div>
    <div class="box">
      <h2>Titel</h2>
      <p>Datum und Uhrzeit</p>
      <p>Ort</p>
    </div>
    <div class="box">
      <h2>Titel</h2>
      <p>Datum und Uhrzeit</p>
      <p>Ort</p>
    </div>
    <div class="box">
      <h2>Titel</h2>
      <p>Datum und Uhrzeit</p>
      <p>Ort</p>
    </div>
    <div class="box">
      <h2>Titel</h2>
      <p>Datum und Uhrzeit</p>
      <p>Ort</p>
    </div>
    <div class="box">
      <h2>Titel</h2>
      <p>Datum und Uhrzeit</p>
      <p>Ort</p>
    </div>
  </div>
</div>
