.event-list {
  display: grid;
  column-gap: 3%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: warp;
  align-items:baseline;
  grid-template-columns: repeat(3, auto);
}
@media screen and (max-width: 768px) {
  .event-list {
    grid-template-columns: 100%;
  }
}

h2{
  font-size: small;
  margin: auto;

}

.title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  align-items: center;
  transform: translateY(25%);
  padding-bottom: 10px;
}

.box {
  border-radius: 0px;
  background-color: white;
  border: #003d6a 2px solid;
}

.dropdown-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;

  button{
    margin-top: 10px;
    width: 8rem;
  }

}

.filter{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;

  p {
    margin: 0;
    font-size: 1.75rem;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  }

  img {
    margin: 0;
    width: 4%;
    padding-left: 20px;
  }

}

@media screen and (max-width: 700px) {
  .filter img{
    width: 35px;
  }
}

.filter-details {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.filter-options{
  font-size: 1em;
  margin-bottom: 1vh;
}

[hidden] {
  display: none;
}
