<div class="container" *ngIf="article">
  <h1>{{ article.fields.Title }}</h1>
  <img *ngIf="article.fields.Teaser_Image" src="{{article.fields.Teaser_Image[0].url}}">
  <app-edition *ngIf="article.fields.Edition" editionID="{{article.fields.Edition}}"></app-edition>
  <p>{{article.fields.Teaser_Text}}</p>
  <br>
  <div class="row">
    <img class="col-sm-4" *ngFor="let image of article.fields.Image_Gallery" src="{{image.url}}">
  </div>
  <p>{{article.fields.Text}}</p>
  <app-author *ngFor="let author of article.fields.Author" authorID="{{author}}"></app-author>
</div>
