.menu {
    display: grid;
    grid-template-columns: minmax(100px, 180px) minmax(0px, 100%) repeat(3, fit-content(100px));
    background-color: white;
    border-bottom: 1px solid var(--theme-grey-secondary);
    min-height: 120px;
}

.menu * {
    height: 100%;
}

.menu img {
    padding: 0px 10px;
}

.menu a {
    color: var(--theme-primary);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    align-items: center;
    transform: translateY(25%);
}

.menu .menu-active, .menu a:hover{
    color: var(--theme-secondary);
}