.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--theme-grey-secondary);
    min-height: 120px;
}

.menu nav{
  display: flex;

}
.menu img {
    padding: 10px 0 0 10px;
    height: 100px;
}

.menu a {
    color: var(--theme-primary);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    align-items: center;
}

.menu .menu-active, .menu a:hover{
    color: var(--theme-secondary);
}
