/* You can add global styles to this file, and also import other style files */
:root{
  --theme-primary: #003d6a;
  --theme-secondary: #a9ba93;
}

h1 {
  color: var(--theme-primary);
}
.box img {
  border-radius: 2px;
}
