@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

:root{
  --theme-primary: #003d6a;
  --theme-secondary: #a9ba93;
}

h1 {
  color: var(--theme-primary);
}

h2 {
  line-height: 40px;
}

.box img {
  border-radius: 2px;
}

.box{
  border-radius: 0px;
  background-color: white;
  border: #003d6a 2px solid;
}
